<%- include('../partials/header') %>

<div class="container">
    <h1>Erro</h1>

    <p class="erro"><%= error %></p>

    <a href="/" class="btn-voltar">Voltar para a página inicial</a>
</div>

<%- include('../partials/footer') %>
