<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 75vh; margin-top: 20px; margin-bottom: 20px;">
    <div class="card shadow p-4" style="max-width: 400px; width: 100%; border-radius: 15px;">

        <% if (error) { %>
        <div class="alert alert-danger"><%= error %></div>
        <% } %>


        <div class="text-center mb-3">
            <img src="/images/logo.jpg" alt="logo" width="80" class="rounded-circle mb-2">
            <h3 class="fw-bold" style="color:#b98c78;">Entrar</h3>
        </div>

        <form action="/usuarios/login" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label fw-semibold">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>

            <div class="mb-3">
                <label for="senha" class="form-label fw-semibold">Senha</label>
                <input type="password" class="form-control" name="senha" id="senha" required>
            </div>

            <button class="btn btn-primary w-100 mt-2">Entrar</button>
        </form>

        <p class="text-center mt-3">
            Não tem conta?
            <a href="/usuarios/cadastro" class="text-primary fw-semibold">Criar conta</a>
        </p>
    </div>
</div>

<%- include('../partials/footer') %>



